body {
    background-color: #011627;
    color: white;
}

.btn {
    background-color: greenyellow;
}

.btn:hover {
    background-color: rgb(120, 200, 0);
}

.container {
    width: 50%;
    height: 50%;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 1px solid white;
}
